*.pidb
*.VisualState.xml
*.suo
*.csproj.user
*.vsp
*.app.ctl
*.krn.ctl
*.psess
*/TestResult.xml
*/obj
*/bin
**/obj
**/bin
[Oo]bj/
[Bb]in/


*.js
*.js.map

# ------------------------------------------------------------------------

!Hermod/Hermod/HTTP/HTTPAPI/HTTPRoot/js/
!Hermod/Hermod/HTTP/HTTPAPI/HTTPRoot/js/**
